<h1 id="tableLabel">Health Checks</h1>

<p *ngIf="result">Server health: {{result?.totalStatus}}, with {{result?.totalResponseTime}} ms. response time</p>
<p *ngIf="!result">Checking...</p>

<table *ngIf="result" class="table table-stripped" aria-labelledby="tableLabel">
  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Response time</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let check of result?.checks">
    <td>{{ check.name }}</td>
    <td class="status {{ check.status }}">{{ check.status }}</td>
    <td>{{ check.responseTime }}</td>
    <td>{{ check.description }}</td>
  </tr>
  </tbody>
</table>
